* text=auto eol=lf

*.rb text eol=lf
*.rake text eol=lf
*.ru text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.erb text eol=lf
*.haml text eol=lf
*.slim text eol=lf
*.coffee text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.zip binary
